<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bitnetsecurity">
    <!-- ACCESO A CARACTERISTICAS -->
    <uses-feature android:name="android.hardware.camera" /> <!-- PERMISOS -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitNetSecurity">
        <activity
            android:name=".registroExito"
            android:exported="false"
            android:label="@string/title_activity_registro_exito"
            android:theme="@style/Theme.BitNetSecurity.NoActionBar" />
        <activity
            android:name=".agregar_usuario"
            android:exported="false" />
        <activity
            android:name=".Usuarios"
            android:exported="false" />
        <activity
            android:name=".registro_final"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".principal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>